<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.communitybuilding.mapper.BusinessBuildingMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.communitybuilding.model.entity.BusinessBuilding">
    <!--@mbg.generated-->
    <!--@Table business_building-->
    <id column="building_id" jdbcType="VARCHAR" property="buildingId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="units" jdbcType="VARCHAR" property="units" />
    <result column="floors" jdbcType="INTEGER" property="floors" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    building_id, b_id, user_id, building_name, units, floors, create_time, remake, operate, 
    `state`
  </sql>
</mapper>