<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.communitybuilding.mapper.BusinessBuildingUnitMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.communitybuilding.model.entity.BusinessBuildingUnit">
    <!--@mbg.generated-->
    <!--@Table business_building_unit-->
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="unit_num" jdbcType="VARCHAR" property="unitNum" />
    <result column="floor_id" jdbcType="VARCHAR" property="floorId" />
    <result column="layer_count" jdbcType="INTEGER" property="layerCount" />
    <result column="lift" jdbcType="VARCHAR" property="lift" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
</mapper>