<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.communitybuildingapi.mapper.BusinessBuildingOwnerMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.communitybuildingapi.model.BusinessBuildingOwner">
    <!--@mbg.generated-->
    <!--@Table business_building_owner-->
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="owner_type_cd" jdbcType="VARCHAR" property="ownerTypeCd" />
  </resultMap>
</mapper>