<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.communityuserapi.mapper.BusinessUserCredentialsMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.communityuserapi.model.entity.BusinessUserCredentials">
    <!--@mbg.generated-->
    <!--@Table business_user_credentials-->
    <result column="credentials_id" jdbcType="VARCHAR" property="credentialsId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="credentials_cd" jdbcType="VARCHAR" property="credentialsCd" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
</mapper>