<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.communityadmin.mapper.BusinessUserAttrMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.communityadmin.model.entity.BusinessUserAttr">
    <!--@mbg.generated-->
    <!--@Table business_user_attr-->
    <result column="attr_id" jdbcType="VARCHAR" property="attrId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="spec_cd" jdbcType="VARCHAR" property="specCd" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
</mapper>