<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessBuildingOwnerMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessBuildingOwner">
    <!--@mbg.generated-->
    <!--@Table business_building_owner-->
    <id column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="owner_type_cd" jdbcType="VARCHAR" property="ownerTypeCd" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    owner_id, member_id, b_id, `name`, sex, age, link, user_id, remark, create_time, 
    operate, owner_type_cd, `state`
  </sql>
</mapper>