<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessParkingSpaceMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessParkingSpace">
    <!--@mbg.generated-->
    <!--@Table business_parking_space-->
    <id column="ps_id" jdbcType="VARCHAR" property="psId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="type_cd" jdbcType="VARCHAR" property="typeCd" />
    <result column="ps_state" jdbcType="VARCHAR" property="psState" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ps_id, b_id, community_id, num, type_cd, ps_state, area, user_id, remark, create_time, 
    operate, `state`
  </sql>
</mapper>