<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessCommunityMemberMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessCommunityMember">
    <!--@mbg.generated-->
    <!--@Table business_community_member-->
    <id column="community_member_id" jdbcType="VARCHAR" property="communityMemberId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="member_type_cd" jdbcType="VARCHAR" property="memberTypeCd" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="audit_status_cd" jdbcType="VARCHAR" property="auditStatusCd" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    community_member_id, b_id, community_id, member_id, member_type_cd, `month`, create_time, 
    operate, audit_status_cd, `state`
  </sql>
</mapper>