<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessUserTagMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessUserTag">
    <!--@mbg.generated-->
    <!--@Table business_user_tag-->
    <id column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="tag_cd" jdbcType="VARCHAR" property="tagCd" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tag_id, b_id, user_id, tag_cd, remark, create_time, operate, `state`
  </sql>
</mapper>