<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessUserAppealMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessUserAppeal">
    <!--@mbg.generated-->
    <!--@Table business_user_appeal-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="credentials" jdbcType="VARCHAR" property="credentials" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="password_a" jdbcType="VARCHAR" property="passwordA" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="password_b" jdbcType="VARCHAR" property="passwordB" />
    <result column="register_time" jdbcType="VARCHAR" property="registerTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="password_c" jdbcType="VARCHAR" property="passwordC" />
    <result column="audit" jdbcType="VARCHAR" property="audit" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, email, tel, credentials, `explain`, password_a, register_address, password_b, 
    register_time, create_time, password_c, `audit`, `state`
  </sql>
</mapper>