<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insedesign.community.mapper.BusinessUserMapper">
  <resultMap id="BaseResultMap" type="com.insedesign.community.model.entity.BusinessUser">
    <!--@mbg.generated-->
    <!--@Table business_user-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="location_cd" jdbcType="VARCHAR" property="locationCd" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="level_id" jdbcType="VARCHAR" property="levelId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, b_id, `name`, admin_id, email, address, `password`, location_cd, age, sex, 
    tel, level_id, create_time, last_login, operate, `state`
  </sql>
</mapper>